@font-face {
    font-family: 'Montserrat', sans-serif;
}

main{
    width: 100%;
    height: 551px;
    margin-top: 52px;
    background-color: #AB4E3C;
    border-radius: 36px;
    margin-bottom: 52px;
    justify-content: space-between;
}

.form{
    display: flex;
    justify-content: space-between;
}
.leftpart{
    display: flex;
    flex-direction: column;
}

.logining{
    display: inline;
    margin-top: 42px;
    color: #FFFFFF;
    width: 41px;
    height: 18px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    border-bottom: 1px solid #FF8E3D;
    margin-left: 71px;
}

.Hi{
    width: 203px;
    height: 43px;
    left: 260px;
    top: 293px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 43px;
    color: #FFFFFF;
    margin-left: 63px;
}

.text1{
    width: 311px;
    height: 34px;
    left: 261px;
    top: 345px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin-left: 64px;
}

.login{
    width: 52px;
    height: 14px;
    left: 281px;
    top: 400px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF; 
    margin-left: 84px;    
}

.field{
    width: 300px;
    height: 40px;
    left: 260px;
    top: 421px;
    background: #FFFFFF;
    border-radius: 10px;
    margin-left: 63px;
}

.fieldlogin{
    width: 272px;
    height: 18px;
    left: 279px;
    top: 429px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: rgba(171, 78, 60, 0.58);
    margin-left: 19px;
    margin-top: 8px;
}

.password{
    width: 60px;
    height: 14px;
    left: 281px;
    top: 472px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin-left: 84px;
}

.passwordstars{
    width: 75px;
    height: 19px;
    left: 281px;
    top: 506px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: rgba(171, 78, 60, 0.58);
    margin-left: 21px;
    margin-top: 13px;
    text-align: center;
}

.buttonlogIn{
    width: 166px;
    height: 39px;
    background: #FF8E3D;
    box-shadow: 0px 0px 25px rgba(255, 194, 38, 0.42);
    border-radius: 10px;
    /* left: 318px; */
    top: 570px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    margin-left: 63px;
    margin-top: 26px;
    padding: 13px 0px 0px 0px;
    text-align: center;
}


.rightpart{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}