@font-face {
    font-family: 'Montserrat', sans-serif;
}

header{
    display: flex;
    margin-top: 23px;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #AB4E3C;
    
}

.logo{
    margin-right: 15px;
}

/* @media (max-width: 1024){
    .container{
        max-width: 634px;
        margin: 0 auto;
        padding: 0%;
    }
    .header{
        display: flex;
        justify-content: center;
    }
}
 
@media (max-width: 512){
    .container{
        max-width: 634px;
        margin: 0 auto;
        padding: 0%;
    }
    header{
        display: flex;
        justify-content: center;
    }
} */